<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>User management</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-XXX" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'regidtration/css/style.css' %}">
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li> <a href="#logout" > LogOut </a> </li>
                    <li> <a href="#profile" > Profile </a> </li>
                    <li> <a href="#update_profile" > Update Profile </a> </li>
                    <li> <a href="#change_password" > Change Password </a> </li>
                     <li> <a href="#add_friend" > Add Friend </a> </li>
                    {% else %}
                <li> <a href="#login" > LOGIN </a> </li>
                  {% endif %}
                <li> <a href="#register" > Register </a> </li>


            </ul>
        </nav>
    </header>
    <main>

        <div id = "content">

        </div>
        {% if user.is_authenticated %}
            <div id="profile">
    <h2>Welcome, {{ user.username }}</h2>
                <img src="{{ user.profile.avatar.url }}" alt="User Avatar" class="avatar">
    <p>Display Name: {{ user.profile.display_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Wins: {{ user.profile.wins }}</p>
    <p>Losses: {{ user.profile.losses }}</p>
             <p>Friends: {% for f in user.profile.friends.all %}
             {{ f.display_name }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
        No friends added yet.
             {% endfor %}
             </p>




</div>
        {% endif %}
    </main>
   <script src ="/static/js/main.js" > </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-XXX" crossorigin="anonymous"></script>
</body>
</html>
