<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>User management</title>
    {% load static %}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'regidtration/css/style.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<canvas id="myCanvas" width="480" height="320"></canvas>
		<button id="runButton">Start game</button>
		<script src="/static/js/myCanvas.js"></script>

<canvas id="fourPlayer" width="480" height="480"></canvas>
		<button id="runButton4">Start 4 Player Game</button>
		<script src="fourPlayer.js"></script>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li> <a href="#logout" > LogOut </a> </li>
                    <li> <a href="#update_profile" > Update Profile </a> </li>
                    <li> <a href="#change_password" > Change Password </a> </li>
                     <li> <a href="#add_friend" > Add Friend </a> </li>
					 <li> <a href="#game_setup" > Game Setup </a> </li>
                    {% else %}
                <li> <a href="#login" > LOGIN </a> </li>
                  {% endif %}
                <li> <a href="#register" > Register </a> </li>


            </ul>
        </nav>
    </header>
    <main>

        <div id = "content">

        </div>
        {% if user.is_authenticated %}
            <div id="profile">
    <h2>Welcome, {{ user.username }}</h2>
                <img src="{{ user.profile.avatar.url }}" alt="User Avatar" class="avatar">
    <p>Display Name: {{ user.profile.display_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Wins: {{ user.profile.wins }}</p>
    <p>Losses: {{ user.profile.losses }}</p>
             <p>Friends: {% for f in user.profile.friends.all %}
             {{ f.display_name }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
        No friends added yet.
             {% endfor %}
             </p>




</div>
        {% endif %}
		{% if player2 %}
		<h2>Welcome, {{ player2.username }}</h2>
		<img src="{{ player2.profile.avatar.url }}" alt="Player 2 Avatar" class="avatar">
        <h2>Player 2 Profile</h2>
        <p>Display Name: {{ player2.display_name }}</p>
        <p>Wins: {{ player2.wins }}</p>
        <p>Losses: {{ player2.losses }}</p>
    {% endif %}
    </main>
   <script src ="/static/js/main.js" > </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
