{% extends 'layout.html' %}

{% block content %}
<div id="content">
    {% load i18n %}
    {% if user.is_authenticated %}
        <div id="profile" class="profile-info">
            <h2>{% trans "Welcome," %} {{ user.username }}</h2>
            <img src="{{ user.profile.avatar.url }}" alt="{% trans 'User Avatar' %}" class="avatar">
            <p><strong>{% trans 'Display Name:' %}</strong> {{ user.profile.display_name }}</p>
            <p><strong>{% trans 'Email:' %}</strong> {{ user.email }}</p>
            <p><strong>{% trans 'Wins:' %}</strong> {{ user.profile.wins }}</p>
            <p><strong>{% trans 'Losses:' %}</strong> {{ user.profile.losses }}</p>
            <p><strong>{% trans 'ID:' %}</strong> {{ user.profile.id }}</p>
            <p><strong>{% trans 'Friends:' %}</strong> 
                {% for f in user.profile.friends.all %}
                    {{ f.display_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    {% trans 'No friends added yet.' %}
                {% endfor %}
            </p>
        </div>
    {% endif %}

    

</div>
<script type="module" src="/static/js/myCanvas.js"></script>
{% endblock %}

