{% extends 'layout.html' %}

{% block content %}

<div id="content" class="container mt-4">
    {% if  not tournament %}
    <form id="create-tournament-form" method="POST" action="{% url 'create_tournament' %}">
        {% csrf_token %}
        {{ c_form.as_p }}  <!-- Display the form fields --> 
        <button type="submit" class="btn btn-primary">Create Tournament</button>
    </form>
    {% endif %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <!-- Players List (Left Side) -->
                <div class="col-md-6">
                    <h2 class="card-title">Tournament: {{ tournament.name }}</h2>
                    <p class="card-text"><strong>Status:</strong> {{ tournament.status }}</p>
                    <p class="card-text" id="player-count"><strong>Players:</strong> {{ tournament.players.count }}/4</p>

                    
                    {% if tournament.status == 'not_started' %}
                    <form id="start-tournament-form" method="POST" action="/start_tournament/{{ tournament.id }}/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Start Tournament</button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3">Results</h5>
                    <p class="card-text"><strong>Winner:</strong> {{ tournament.winner.display_name }}</p>
                    <p class="card-text"><strong>2 Place:</strong> {{ tournament.second.display_name }}</p>
                    <p class="card-text"><strong>3 Place:</strong> {{ tournament.third.display_name }}</p>
                    <p class="card-text"><strong>4 Place:</strong> {{ tournament.forth.display_name }}</p>
                </div>
        
            <!-- List of Players -->
            <div class="row">
                <!-- Players List (Left Side) -->
                <div class="col-md-6">
                    <h5 class="mb-3">Players</h5>
                    <ul id="players-list" class="list-group">
                        {% for player in tournament.players.all %}
                        <li id="player-{{ player.display_name }}" class="list-group-item d-flex justify-content-between align-items-center p-2">
                            <div class="d-flex align-items-center">
                                <img src="{{ player.avatar.url }}" alt="{{ player.display_name }}" class="avatar rounded-circle me-2" width="20" height="20">
                                <span class="player-name small">{{ player.display_name }}</span>
                            </div>
                            <form id="quit_tournament" method="POST" action="/quit_tournament/{{ tournament.id }}/{{ player.id }}/">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Quit</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            
                <!-- Game Results (Right Side) -->
                <div class="col-md-6">
                    <h5 class="mb-3">Games</h5>
                    <div id="games" class="p-3 border rounded bg-light">
                        {% for game in tournament.games.all %}
                            <p class="card-text">
                                <strong>Game :</strong> {{ game.player1.display_name }} VS {{ game.player2.display_name }}
                                <strong>Scores :</strong> {{ game.player1_score }} VS {{ game.player2_score }}
                                {% if not game.winner %}
                                <button class="startTournamentGame btn btn-primary" 
                                        data-game-id="{{ game.id }}" 
                                        data-player1-id="{{ game.player1.id }}" 
                                        data-player2-id="{{ game.player2.id }}">
                                    Start Game
                                </button>
                                {% endif %}
                                {% if game.winner %}
                                <p class="card-text" id="game-winner"><strong>Winner:</strong> {{ game.winner }}</p>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% if tournament.status == "not_started" %}
    <!-- Profiles Section -->
    <div class="row mb-4">
        <!-- Player 1 Profile -->
        <div class="col-md-3">
            <div id="player1-profile" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <img src="{{ user.profile.avatar.url }}" alt="User Avatar" class="avatar rounded-circle mb-3" width="100" height="100">
                    <p id="display_name"><strong>Display Name:</strong> {{ user.profile.display_name }}</p>
                    <p><strong>Wins:</strong> {{ user.profile.wins }}</p>
                    <p><strong>Losses:</strong> {{ user.profile.losses }}</p>
                    <p><strong>ID:</strong> {{ user.profile.id }}</p>
                    <!-- Update Display Name Form -->
                    <form id="update-tournament-name" method="POST" action="/tournament_name_user/{{ user.profile.id }}/1/" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="display_name" class="form-label">Player Display Name:</label>
                            <input type="text" id="display_name" name="display_name" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                    </form>
                    {% if tournament %}
                    <form id="second-player-join" method="POST" action="/join_tournament/{{ tournament.id }}/{{ user.profile.id }}/" class="mb-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-2">
                            Join Tournament
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- Player 2 Profile -->
        <div class="col-md-3">
            <div id="player2-profile" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Player 2</h5>
                    <img id="player2-avatar" src="{{ request.session.player2.avatar_url }}" alt="Player 2 Avatar" class="avatar rounded-circle mb-3" width="100" height="100">
                    <p id="player2-display-name"><strong>Display Name:</strong> {{ request.session.player2.display_name }}</p>
                    <p id="player2-wins"><strong>Wins:</strong> {{ request.session.player2.wins }}</p>
                    <p id="player2-losses"><strong>Losses:</strong> {{ request.session.player2.losses }}</p>
                    <p id="player2-id"><strong>ID:</strong> {{ request.session.player2.id }}</p>
                    <!-- Login Form for Player 2 -->
                    <form id="second-player-form" method="POST" action="{% url 'second_player_tournament' %}" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Player 2 Username:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Player 2 Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Log in Player 2</button>
                    </form>

                    <!-- Update Display Name Form for Player 2 -->
                    <form id="update-tournament-name-user2" method="POST" action="/tournament_name_user/{{ request.session.player2.id }}/2/" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="display_name" class="form-label">Player Display Name:</label>
                            <input type="text" id="display_name" name="display_name" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                    </form>
                    {% if tournament %}
                    <form id="second-player-join" method="POST" action="/join_tournament/{{ tournament.id }}/{{ request.session.player2.id }}/" class="mb-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-2">
                            Join Tournament
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- Player 3 and Player 4 Profiles -->
        <div class="col-md-3">
            <div id="player3-profile" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Player 3</h5>
                    <img id="player3-avatar" src="{{ request.session.player3.avatar_url }}" alt="Player 3 Avatar" class="avatar rounded-circle mb-3" width="100" height="100">
                    <p id="player3-display-name"><strong>Display Name:</strong> {{ request.session.player3.display_name }}</p>
                    <p id="player3-wins"><strong>Wins:</strong> {{ request.session.player3.wins }}</p>
                    <p id="player3-losses"><strong>Losses:</strong> {{ request.session.player3.losses }}</p>
                    <p id="player3-id"><strong>ID:</strong> {{ request.session.player3.id }}</p>
                    <div class="col-md-3">
                        <label for="player3Colour" class="form-label">Colour:</label>
                        <select id="player3Colour" class="form-select">
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="gold">Gold</option>
                            <option value="black">Black</option>
                        </select>
                    </div>
                    <!-- Login Form for Player 3 -->
                    <form id="third-player-form" method="POST" action="{% url 'third_player_tournament' %}" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Player 3 Username:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Player 3 Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Log in Player 3</button>
                    </form>

                    <!-- Update Display Name Form for Player 2 -->
                    <form id="update-tournament-name-user3" method="POST" action="/tournament_name_user/{{ request.session.player3.id }}/3/" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="display_name" class="form-label">Player 3 Display Name:</label>
                            <input type="text" id="display_name" name="display_name" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                        
                    </form>
                    {% if tournament %}
                    <form id="third-player-join" method="POST" action="/join_tournament/{{ tournament.id }}/{{ request.session.player3.id }}/" class="mb-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-2">
                            Join Tournament
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
 

        <div class="col-md-3"> 
            <div id="player4-profile" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Player 4</h5>
                    <img id="player4-avatar" src="{{ request.session.player4.avatar_url }}" alt="Player 4 Avatar" class="avatar rounded-circle mb-3" width="100" height="100">
                    <p id="player4-display-name"><strong>Display Name:</strong> {{ request.session.player4.display_name }}</p>
                    <p id="player4-wins"><strong>Wins:</strong> {{ request.session.player4.wins }}</p>
                    <p id="player4-losses"><strong>Losses:</strong> {{ request.session.player4.losses }}</p>
                    <p id="player4-id"><strong>ID:</strong> {{ request.session.player4.id }}</p>
                    <div class="col-md-3">
                        <label for="player4Colour" class="form-label">Colour:</label>
                        <select id="player4Colour" class="form-select">
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="gold">Gold</option>
                            <option value="black">Black</option>
                        </select>
                    </div>
                    <!-- Login Form for Player 2 -->
                    <form id="forth-player-form" method="POST" action="{% url 'forth_player_tournament' %}" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Player 4 Username:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Player 4 Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Log in Player 4</button>
                    </form>

                    <!-- Update Display Name Form for Player 2 -->
                    <form id="update-tournament-name-user4" method="POST" action="/tournament_name_user/{{ request.session.player4.id }}/4/" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="display_name" class="form-label">Player 4 Display Name:</label>
                            <input type="text" id="display_name" name="display_name" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                       
                    </form>
                    {% if tournament %}
                    <form id="forth-player-join" method="POST" action="/join_tournament/{{ tournament.id }}/{{ request.session.player4.id }}/" class="mb-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-2">
                            Join Tournament
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <!-- Game Canvas Section -->
    <div class="card mb-4">
        <div class="card-body text-center">
            <h5 class="card-title">Game Canvas</h5>
            <canvas id="myCanvas" width="720" height="480" class="mb-3"></canvas>
            <button id="runButton" class="btn btn-primary">Start Game</button>
        </div>
    </div>

    <!-- 4-Player Game Canvas Section -->
    <div class="card mb-4">
        <div class="card-body text-center">
            <h5 class="card-title">4-Player Game</h5>
            <canvas id="fourPlayer" width="480" height="480" class="mb-3"></canvas>
            <button id="runButton4" class="btn btn-primary">Start 4-Player Game</button>
        </div>
    </div>
</div>

<script type="module" src="/static/js/myCanvas.js"></script>

<!-- JavaScript -->
<script>
    
document.addEventListener("DOMContentLoaded", function () {
    function getCSRFToken() {
        const tokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
        return tokenElement ? tokenElement.value : null;
    }

    function fetchTournamentData(tournamentId) {
        fetch(`/get_tournament_data/${tournamentId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    const tournamentInfo = document.getElementById('tournament-info');
                    if (!tournamentInfo) return;

                    tournamentInfo.innerHTML = `
                        <h2>${data.tournament_name}</h2>
                        <h3>Players:</h3>
                        <ul>
                            ${data.players.map(player => `
                                <li>
                                    <img src="${player.avatar_url}" alt="${player.display_name}'s avatar" width="50" height="50">
                                    ${player.display_name}
                                </li>
                            `).join('')}
                        </ul>
                    `;
                }
            })
            .catch(error => console.error('Error fetching tournament data:', error));
    }

});
</script>

{% endblock %}